* {
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  width: auto;
}

.barranavegacion {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  padding: 16px;
  background-color: white;
  position: sticky;
  top: 0%;
  border-bottom: solid black 2px;
}

.textonav {
  display: flex;
  gap: 40px;
  justify-content: center;
}
.imgnav {
  display: flex;
  gap: 20px;
}
/* seccion principal */

.productos {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  max-width: 1280px;
  gap: 5px;
}

.productos img {
  border-radius: 20px;
}

.info {
  display: flex;
  justify-content: space-between;
}
.footer {
  display: flex;
  padding: 16px;
  justify-content: space-around;
  background-color: #212429;
}
.footer img {
  background-color: white;
  padding: 9px;
  border-radius: 20px;

  width: 50px;
  height: 50px;
}
.footer p {
  color: white;
}
.imgfooter {
  display: flex;
  gap: 10px;
}
